In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
gaming = pd.read_csv('vid_game.csv')
gaming.head()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review,is_hit
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28,1
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00,1
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07,1
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65,1
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00,1

In [5]:
gaming.describe()

,index,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review,is_hit
count,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000
mean,950.716720,951.716720,2003.766773,1.262109,0.710517,0.320980,0.207055,2.500532,79.038243,0.741214
std,550.234127,550.234127,5.895369,1.967797,1.155922,0.729295,0.345141,3.587041,10.652957,0.438084
min,0.000000,1.000000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000,0.000000
25%,474.250000,475.250000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000,0.000000
50%,950.500000,951.500000,2005.000000,0.820000,0.440000,0.020000,0.130000,1.530000,81.095000,1.000000
75%,1426.750000,1427.750000,2008.000000,1.377500,0.820000,0.307500,0.220000,2.547500,86.265000,1.000000
max,1906.000000,1907.000000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000,1.000000

In [6]:
gaming.isnull().sum()

index            0
Rank             0
Game Title       0
Platform         0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Review           0
is_hit           0
dtype: int64

In [7]:
cleaning_g = gaming.dropna(subset=['Year'])
cleaning_g.head()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review,is_hit
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28,1
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00,1
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07,1
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65,1
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00,1

In [8]:
cleaned_g = cleaning_g.dropna(subset=['Publisher'])
cleaned_g.head()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review,is_hit
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28,1
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00,1
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07,1
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65,1
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00,1

In [9]:
#cleaned null values
cleaning_g.isnull().sum()

index            0
Rank             0
Game Title       0
Platform         0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Review           0
is_hit           0
dtype: int64

In [10]:
cleaning_g["is_hit"] = (cleaning_g["Review"] >= 75).astype(int)

print("Hit Count:")
print(cleaning_g["is_hit"].value_counts())

#Proportions
print("Hit Proportion:")
print(cleaning_g["is_hit"].value_counts(normalize=True))
#because the distribution is a bit uneven, make sure to add weights during modeling "class_weight="balanced"

Hit Count:
is_hit
1    1392
0     486
Name: count, dtype: int64
Hit Proportion:
is_hit
1    0.741214
0    0.258786
Name: proportion, dtype: float64

In [11]:
cleaning_g.describe()

,index,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review,is_hit
count,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000,1878.000000
mean,950.716720,951.716720,2003.766773,1.262109,0.710517,0.320980,0.207055,2.500532,79.038243,0.741214
std,550.234127,550.234127,5.895369,1.967797,1.155922,0.729295,0.345141,3.587041,10.652957,0.438084
min,0.000000,1.000000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000,0.000000
25%,474.250000,475.250000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000,0.000000
50%,950.500000,951.500000,2005.000000,0.820000,0.440000,0.020000,0.130000,1.530000,81.095000,1.000000
75%,1426.750000,1427.750000,2008.000000,1.377500,0.820000,0.307500,0.220000,2.547500,86.265000,1.000000
max,1906.000000,1907.000000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000,1.000000

In [12]:
cleaning_g.to_csv("vid_game.csv", index=False)

In [17]:

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    confusion_matrix,
    classification_report,
    accuracy_score
)

df = pd.read_csv("vid_game.csv")

if "index" in df.columns:
    df = df.drop(columns=["index"])

print("Missing values per column:")
print(df.isnull().sum())
print("\nShape after loading:", df.shape)


# Target
y = df["is_hit"]

X = df.drop(["is_hit", "Review", "Game Title"], axis=1)

cat_cols = ["Platform", "Genre", "Publisher"]
num_cols = [col for col in X.columns if col not in cat_cols]

print("\nCategorical columns:", cat_cols)
print("Numeric columns:", num_cols)

preprocess = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
        ("num", "passthrough", num_cols)
    ]
)

rf_clf = RandomForestClassifier(
    n_estimators=300,
    max_depth=None,
    random_state=42,
    class_weight="balanced"   
)

rf_model = Pipeline(steps=[
    ("prep", preprocess),
    ("rf", rf_clf)
])

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.20,       # 80:20 split
    random_state=42,
    stratify=y            # keep class ratio similar
)

print("\nTrain size:", X_train.shape[0])
print("Test size:", X_test.shape[0])

rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)

acc = accuracy_score(y_test, y_pred)
print("\nAccuracy:", acc)

cm = confusion_matrix(y_test, y_pred)
print("\nConfusion Matrix:\n", cm)

print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

# Feature Importances (Top 15)
ohe = rf_model.named_steps["prep"].named_transformers_["cat"]
ohe_features = ohe.get_feature_names_out(cat_cols)   

all_features = np.r_[ohe_features, num_cols]

importances = rf_model.named_steps["rf"].feature_importances_

fi_df = pd.DataFrame({
    "Feature": all_features,
    "Importance": importances
}).sort_values(by="Importance", ascending=False)

print("\nTop 15 Feature Importances:")
print(fi_df.head(15))

Missing values per column:
Rank             0
Game Title       0
Platform         0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Review           0
is_hit           0
dtype: int64

Shape after loading: (1878, 13)

Categorical columns: ['Platform', 'Genre', 'Publisher']
Numeric columns: ['Rank', 'Year', 'North America', 'Europe', 'Japan', 'Rest of World', 'Global']

Train size: 1502
Test size: 376

Accuracy: 0.8031914893617021

Confusion Matrix:
 [[ 38  59]
 [ 15 264]]

Classification Report:

              precision    recall  f1-score   support

           0       0.72      0.39      0.51        97
           1       0.82      0.95      0.88       279

    accuracy                           0.80       376
   macro avg       0.77      0.67      0.69       376
weighted avg       0.79      0.80      0.78       376


Top 15 Feature Importances:
                       Feature  Importance
115                       Rank    0.099911
121                     Global    0.098684
117              North America    0.097686
118                     Europe    0.090677
120              Rest of World    0.082510
116                       Year    0.072546
119                      Japan    0.069255
25                  Genre_Misc    0.019422
18                Platform_Wii    0.018652
32                Genre_Sports    0.018633
55   Publisher_Electronic Arts    0.015645
29          Genre_Role-Playing    0.013345
2                  Platform_DS    0.011757
26              Genre_Platform    0.011666
22                Genre_Action    0.011190